.idea/
npm-debug.log
Front-End/logs/*
Front-End/!.gitkeep
Front-End/node_modules/
Front-End/app/node_modules/
Front-End/bower_components/
Front-End/app/bower_components/
Front-End/tmp
Front-End/.DS_Store
Front-End/.idea
Front-End/build
**/*.pyc
Back-End/__pycache__
Back-End/**/__pycache__
**/*.sqlite3
