<div flex ng-controller="DashboardController as dashboardController">
	<div flex>
		<md-content layout="column" layout-align-gt-sm="row">
			<div class="md-padding" layout="column" style="text-align: center;">
				<h2>ColonyCounter</h2>
			</div>
		</md-content>
	</div>
	<div class="md-padding" layout="row" layout-align="center start">
		<md-content class="md-padding" layout="row">
			<md-card flex="33">
				<md-card-content layout="row" layout-align="center">
					<img src="/assets/images/petri-icon-black.png" />
				</md-card-content>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">BASIL</span>
						<span class="md-subhead">Extra Large</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
			<md-card flex="33">
				<md-card-content layout="row" layout-align="center">
					<img src="/assets/images/petri-icon-black.png" />
				</md-card-content>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">JUST WHAT</span>
						<span class="md-subhead">Extra Large</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
			<md-card flex="33">
				<md-card-content layout="row" layout-align="center">
					<img src="/assets/images/petri-icon-black.png" />
				</md-card-content>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">YOU'RE LOOKIN FOR</span>
						<span class="md-subhead">Extra Large</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</md-content>
	</div>
	<div layout="row" layout-align="center center">
		<md-content layout="column" layout-align="center">
			<div layout="column">
				<form name="imageForm" ng-submit="">
					<input type="file" style="margin-left:7px;" file-input="dashboardController.file"/>
				</form>
			</div>
			<div ng-show="dashboardController.showProgress" layout="column">	
				Please wait, this may take a moment...
			</div>
			<div ng-show="dashboardController.showProgress" layout="column">	
				<md-progress-linear class="md-warn" md-mode="{{ctrl.modes[0]}}"
					value="{{ctrl.determinateValue}}"
					md-buffer-value="{{ctrl.determinateValue2}}">   	
				</md-progress-linear>
			</div>
			<div layout="column">
				<md-button class="md-raised md-primary" ng-click="dashboardController.submitImage()">Submit</md-button>
				<md-button class="md-raised md-warn" ng-click="dashboardController.clearAll()">Clear</md-button>
			</div>
		</md-content>
	</div>
</div>