<div class="md-padding" ng-controller="DashboardController as dashboardController">
		<md-content layout-padding layout="column">
			<!--<div layout="row" ng-show="dashboardController.files.length > 0">
				<ul>
					<li ng-repeat="file in dashboardController.files">
						{{file}}
					</li>
				</ul>
			</div>-->
			<form name="imageForm" ng-submit="">
				<input ng-model='dashboardController.files' type="file" validfile/>
			</form>
			<div layout="row">
				<md-button class="md-raised md-success" flex="100" ng-click="dashboardController.show()">Submit</md-button>
			</div>
			<div layout="row">
				<md-button class="md-raised md-warn" flex="100">Clear all</md-button>
			</div>
		</md-content>
	</md-input-container>