<div ng-controller="NavigationController as navigationController">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Icon" aria-label="Side Panel" ng-click="navigationController.openSideNavPanel()">
				<md-tooltip>Side Panel</md-tooltip>
				<md-icon><i class="fa fa-bars fa-lg"></i></md-icon>
			</md-button>
			<md-button class="md-raised" aria-label="icon" ng-click="navigationController.openLoginPanel()">
				<md-icon class="fa fa-user fa-lg"></md-icon> Login 
			</md-button>
			<md-icon><img src="assets/images/logo-white.png" style="height:inherit; width: auto;"/></md-icon>
			<h2 style="margin-left: 5px">
				<span>colonycounter</span>
			</h2>
			<span flex></span>
			<md-button class="md-raised" aria-label="icon" ui-sref="site.tutorial">
				<md-icon class="fa fa-info-circle fa-lg"></md-icon> Tutorial  
			</md-button>
		</div>
	</md-toolbar>
</div>
