cycler==0.10.0
Django==1.11.4
djangorestframework==3.6.4
matplotlib==2.0.2
numpy==1.13.1
opencv-python==3.3.0.9
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
django-cors-headers==2.1.0
scikit-learn==0.19.0
scipy==0.19.1