
.spacer{
	padding-top: 20px;
}

.md-button.md-raised.md-success:not([disabled]) {
    /*box-shadow: 0 2px 5px 0 rgb(0, 255, 0);*/
}

.md-button.md-success:not([disabled]) {
    background-color: rgb(43, 255, 0);
    color: rgb(255, 255, 255)
  }

  .md-button.md-success:not([disabled]):hover {
    background-color: rgba(47, 255, 0, 0.67);
  }

  .md-button.md-warn:not([disabled]):hover {
    background-color: rgba(255, 145, 0, 0.5);
  }

.petri-card-image {
  width: 112px;
  height: 89px;
  padding-top: 7px;
}

@media screen and (min-width: 960px) {
  .petri-card-image {
    width: 112px;
    height: 98px;
    padding-top: 14px;
  }
}